* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  background: #290644;
  background-image: linear-gradient(
      0deg,
      rgba(41, 6, 68, 0.8561625333727241) 32%,
      rgba(34, 193, 195, 0) 100%
    ),
    url(./images/bc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width: 100%;
  overflow-x: hidden;
  font-family: 'Red Hat Display', sans-serif;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.topBar {
  height: 50px;
  width: 100vw;
  background-color: #290644dd;
  z-index: 999;

  position: sticky;
  top: 0;
}
nav {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav > .nav-header {
  display: inline;
  float: left;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  transition: all 0.3s ease;
  font-weight: 700;
}

.nav > .nav-links > a:hover {
  color: #d5a6f880;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 900px) {
  .nav-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #290644;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(37vh - 50px);
    overflow-y: auto;
  }
}

body {
  margin: 0;
  padding: 0;
}

.sticky-text {
  position: fixed;
  bottom: 0px;
  left: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
  width: 3.5rem;
  font-size: 0.7rem;
  font-weight: 800;
}
.hiddenDiv {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: #edecf0;
}

.hiddenDiv.active {
  max-height: 700px;
}

section {
  display: flex;
  flex: 2;
}
.leftSec {
  background-color: white;
  flex: 1;
  border-radius: 5px;
  margin-right: 2rem;
  min-width: 550px;
  padding: 2rem;
  position: relative;
  min-height: 300px;
}
.info {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infoTwo {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infoTop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 3;
}
.infoBottomLeft {
  flex: 2;
  width: 100%;
}
.infoBottomRight {
  flex: 1;
}

.Heading {
  font-size: 2.5rem;
  font-weight: 800;
  color: #290644;
}
.HeadingTwo {
  font-size: 2rem;
  font-weight: 800;
  color: #290644;
  margin: 1.5rem 0rem 1rem 2rem;
}
.desc {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1rem;
  color: #474747;
  max-height: 160px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.descTwin {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1rem;
  color: #474747;
}
.descSplit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}
.descSplitWrap {
  flex: 1;
  padding: 1rem;
}
.descB {
  font-size: 1rem;
  font-weight: 800;
  padding-top: 1rem;
  color: #290644;
  max-height: 160px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.descBTwin {
  font-size: 1.2rem;
  font-weight: 800;
  color: #290644;
  max-height: 160px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.read-more {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  color: red;
  font-size: 1rem;
  font-weight: 800;
}
.cat {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15rem;
}
.linker {
  font-size: 1rem;
  font-weight: 800;
  color: #de394d;
  text-decoration: none;
}
.rightSec {
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  min-height: 300px;
  min-width: 550px;
}

.items {
  display: flex;
  flex-direction: column;
}
.item {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
}
.itemLeft {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemImg {
  object-fit: contain;
  width: 4.5rem;
}
.itemRight {
  flex: 2;
  padding: 1rem;
}
.itemTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #290644;
}
.date {
  font-size: 0.9rem;
  font-weight: 700;
  color: #9381a0;
}
.details {
  width: 100%;
}
.detailsWrap {
  display: flex;
  align-items: center;
  flex: 10;

  padding: 5px 2rem;
}

.company {
  width: 100px;
  height: 80px;
  padding: 1rem;
  border-radius: 5px;
  flex: 1;
}
.amount {
  flex: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.amountTwo {
  flex: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.jusqu {
  font-size: 0.9rem;
  font-weight: 400;
}
.spin {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
}
.num {
  font-weight: 900;
  font-size: 1.4rem;
  color: #333333;
}
.buttons {
  flex: 2;
  display: flex;
}
.btn {
  all: unset;
  background-color: #de394d;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 0.5rem;
  cursor: pointer;
}
.btnThree {
  all: unset;
  background-color: #de394d;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 0.5rem;
  cursor: pointer;
  margin-left: 10px;
}
.btnTwo {
  all: unset;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 800;
  border: 1px solid black;
  cursor: pointer;
}
.linki {
  text-decoration: none;
  color: white;
}
.endBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
}
.wideBtn {
  all: unset;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border: 1px solid black;
}
.sec-2 {
  background-color: white;
  margin-top: 1rem;
  padding: 0.4rem 0.5rem;
  max-width: 1200px;
}
.buttonSet {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.Lbutton {
  all: unset;
  padding: 0.5rem;
  background-color: #edecf0;
  border-radius: 5px;
  transition: color 0.3s ease;
  color: #290644;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}
.selected {
  background-color: #290644;
  color: #edecf0;
  transition: color 0.3s ease;
}
.hiddenRadio {
  position: absolute;
  opacity: 0;
}
.hiddenRadio + label {
  position: relative;
  padding-left: 25px;
  transition: color 0.3s ease;
}
.hiddenRadio + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #bbb9c7;
  border-radius: 50%;
  background-color: #ceb2e3;
  transition: border-color 0.3s ease;
}
.hiddenRadio:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #290644;

  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.detailsWrapTwo {
  /* margin-top: 1rem; */
  display: flex;
  align-items: center;
  flex: 17;
  padding: 5px 2rem;
}
.divideLeft {
  display: flex;
  align-items: center;
  flex: 15;
}
.divideRight {
  display: flex;
  align-items: center;
  flex: 2;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 4;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #de394d;
  margin-right: 4px;
}
.spanWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infodesc {
  font-size: 0.8rem;
}
.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}
.ratedesc {
  font-size: 0.6rem;
}
.slideWrap {
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 100%;
  border-radius: 5px;
  background-color: #bbb9c8;
}
.box {
  flex: 1;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 800;
}
.wrapper {
  display: flex;
}
.wrapperTwo {
  display: flex;
  flex-direction: column;
}
.boxDataWrapper {
  padding: 0.5rem;
  margin: 0 1rem;
}
.boxData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
}
.boxDataTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #e1dfe3;
}
.dataValue {
  font-weight: 400;
}
.txtBox {
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  font-weight: 400;
  border-radius: 5px;
}
.line {
  width: 95%;
  color: black;
  height: 2px;
  background-color: black;
  margin: 1rem 0;
}
.lineBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewBox {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
}
.footerWrap {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex: 4;
  height: 25vh;
  margin: 0 auto;
  padding: 1rem;
}
.one {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.oneOne {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.two {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.links {
  color: white;
  text-decoration: none;
}
.casino {
  height: 8rem;
}
.casinoName {
  color: white;
  margin-top: 30px;
  text-align: center;
}
.eighteen {
  height: 2rem;
}
.oneWrap {
  display: flex;
  width: 50%;
  margin-right: 1rem;
}
.eText {
  font-size: 0.7rem;
  color: white;
  padding: 0.5rem;
  word-wrap: break-word;
}
.eTextTwo {
  font-size: 0.9rem;
  color: white;
  padding-bottom: 1.5rem;
  text-decoration: none;
}
.AfterList {
  padding: 1rem;
}
.InfoGround {
  padding: 1rem;
  background-color: #edecf0;
}
.HeadingGround {
  font-size: 2rem;
  font-weight: 800;
  color: #290644;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}
.faq {
  margin-left: 1.5rem;
}
.accordion {
  width: 95%;
  max-width: 1200px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #310e4b;
  background-color: #ceb2e3;
  margin: 2px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 2.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: '\002B';
  font-size: 2rem;
  position: absolute;
  left: 1rem;
}
.accordion-item-header.active::after {
  content: '\2212';
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  background-color: #310e4b;
  color: white;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  max-height: 400px;
}
@media (max-width: 1200px) {
  section {
    flex-direction: column;
  }
  .leftSec {
    margin-bottom: 3rem;
    margin-right: 0rem;
  }
}
@media (max-width: 900px) {
  .ratings {
    display: none;
    visibility: none;
  }
  .info {
    display: none;
    visibility: none;
  }
  .detailsWrapTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 17;
    padding: 5px 1rem;
  }
  .detailsWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 17;
    padding: 5px 1rem;
  }
  .amount {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .amountTwo {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .company {
    width: 350px;
    height: 100px;
    padding: 0.5rem;
    flex: 0;
  }
  .buttons {
    flex: 0;
  }
  .btn {
    width: 225px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnTwo {
    width: 225px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divideLeft {
    margin-bottom: 1rem;
  }
  #srch {
    display: none;
    visibility: hidden;
  }
  section {
    flex-direction: column;
  }
  .rightSec {
    margin-top: 2rem;
  }
  .footerWrap {
    justify-content: center;
    align-items: center;
  }
  .one {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .oneOne {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 780px) {
  .footerWrap {
    flex-direction: column;
    height: 80vh;

    justify-content: center;
  }
  .rightSec {
    margin-top: 2rem;
  }
  .oneWrap {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .descSplit {
    display: flex;
    flex-direction: column;
    flex: 2;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .txtBox {
    margin: 1.5rem;
  }
  .leftSec {
    margin-bottom: 3rem;
    margin-right: 0rem;
    min-width: 330px;
  }
  .rightSec {
    margin-right: 0rem;
    min-width: 330px;
  }
  .cat {
    position: absolute;
    width: 10rem;
  }
  .btn {
    width: 125px;
  }
  .btnTwo {
    width: 125px;
  }
  .detailsWrapTwo {
    padding: 5px 0rem;
  }
  .jusqu {
    font-size: 0.6rem;
    font-weight: 400;
  }
  .spin {
    font-size: 0.6rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  .company {
    width: 200px;
  }
}
